.category-item .custom-contro{
    padding:  5px;
    cursor: pointer;
}
.category-item :hover{
    background-color:  #c96;   
    color:white;
}

.category-item .active{
    background-color:  #c96;   
    color:white;
}

.cat{
    height:40px;
    text-justify:auto;
}